<html>

<head>
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/vue.min.js"></script>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <style type="text/css">
    .init-hidden {
        display: none;
    }
    .help-block{
        text-align: right;
        display: none;
    }
    .has-error .help-block{
        display: block;
    }
</style>

</head>

<body>

    <div class="container">
        <div class="row">
            <div class='col-6'>
                <h1>Src Config</h1>
                <div id="vm1" class="src form-group">
                    <label>数据库名称</label>
                    <input v-model="name" class="con-names form-control" type="text" list="namelist" placeholder="Connection name">
                    <span class="name-help help-block"></span>
                    <datalist id="namelist">
                    </datalist>
<!--                     <label>数据库驱动名称</label>
                    <input v-model="driver" class="driver-name form-control" name="srcdriver" type="text" placeholder="Driver name"> -->
                    <!-- <span class="driver-help help-block"></span> -->
                    <label>数据库配置</label>
                    <input v-model="dsn" class="dsn-config form-control" id="srcdsn" type="text" placeholder="DSN config">
                    <span class="dsn-help help-block"></span>
                    <button v-on="click: testConnection" class="test-button form-control" type="button">test</button>
                    <div class="init-hidden">
                        <label class="user-names">users</label>
                        <input v-model="user" class="user-names form-control" id="srcuser" name="tablename" list="userlist1">
                        <span class="user-help help-block"></span>
                        <datalist class="user-names" id="userlist1">
                        </datalist>
                        <label class="tables-names">tables</label>
                        <input v-model="table" class="table-names form-control" id="srctable" name="tablename" list="tablelist1">
                        <span class="table-help help-block"></span>
                        <datalist class="table-names" id="tablelist1">
                        </datalist>
                    </div>
                </div>
            </div>
            <div class='col-6'>
                <h1>Dst Config</h1>
                <div id="vm2"  class="dst form-group">
                    <label class="label-control">数据库名称</label>
                    <input v-model="name" class="con-names form-control" type="text" list="namelist" placeholder="Connection name">
                    <span class="name-help help-block"></span>
<!--                     <label class="label-control">数据库驱动名称</label>
                    <input v-model="driver" class="driver-name form-control" name="dstdriver" type="text" placeholder="Driver name"> -->
                    <!-- <span class="driver-help help-block"></span> -->
                    <label class="label-control">数据库配置</label>
                    <input v-model="dsn" class="dsn-config form-control" id="dstdsn" type="text" placeholder="DSN config">
                    <span class="dsn-help help-block"></span>
                    <button v-on="click: testConnection" class="test-button form-control" type="button">test</button>
                    <div class="init-hidden">
                        <label class="user-names label-control">users</label>
                        <input v-model="user" class="user-names form-control" id="dstuser" name="tablename" list="userlist2">
                        <span class="user-help help-block"></span>
                        <datalist class="user-names" id="userlist2">
                        </datalist>
                        <label class="table-names label-control">tables</label>
                        <input v-model="table" class="table-names form-control" id="dsttable" name="tablename" list="tablelist2">
                        <span class="table-help help-block"></span>
                        <datalist class="table-names" id="tablelist2">
                        </datalist>
                    </div>
                </div>
            </div>
            <div class='col-12'>
                <button class="task-confirm form-control">确定</button>
            </div>

        </div>
    </div>
</body>
<script type="text/javascript">

    $(function () {
        function initVue(id) {
            var vm = new Vue({
                el: id,
                data: {
                    name: '',
                    id: '',
                    // driver: '',
                    dsn: '',
                    user: '',
                    table: ''
                },
                methods: {
                    testConnection: function () {
                        $.ajax({
                            url: "/api/connections",
                            type: "POST",
                            data: this.$data,
                            success: function (msg) {
                                if (msg.result==="success") {
                                    for (var i of msg.users) {
                                        $(id).find("datalist.user-names").append('<option>' + i + "</option>")
                                    }
                                    $(id).find(".init-hidden").show()
                                    vm.user = msg.current
                                    getTables(vm)
                                }else {
                                    alert(msg.result);
                                }
                            }
                        });
                    }
                }
            });
            return vm
        }
        var vm1 = initVue("#vm1");
        vm2 = initVue("#vm2");
        // var vm2 = initVue("#vm2");
        var connections;
        var vm = {vm1: vm1, vm2:vm2}
        function getConnections(callback) {
            $.ajax({
                url: "/api/connections",
                type: "GET",
                success: function (msg) {
                    for (var i in msg) {
                        $("#namelist").append('<option>' + i + "</option>")
                    }
                    callback(msg)
                }
            });
        }
        getConnections(function (data) {
            connections = data;
        })
        $('.con-names').change(function () {
            var id = $(this).parent().attr("id")
            if ($(this).val() in connections){
                conObj = connections[$(this).val()]
                if (('user' in conObj)===false){
                    conObj.user = '';
                }else if (('table' in conObj)===false){
                    conObj.table = '';
                }
                vm[id].$data = conObj
            }
        });
        function getTables(vm) {
            var url = "/api/connections/" + vm.name + '/' + vm.user
            $.ajax({
                url: url,
                type: "GET",
                success: function (msg) {
                    for (var i of msg.tables) {
                        $(vm.$el).find("datalist.table-names").append('<option>' + i + "</option>")
                    }}});
        }
        $(".user-names").change(function () {
            var id = $(this).parent().parent().attr('id')
            getTables(vm[id])
        });
        function checkNotNull(name) {
            if (vm1[name] === "") {
                var help = $('#vm1').find('span.'+name+'-help')
                // alert(help.attr("class"))
                help.text('不可为空！');
                help.parent().addClass('has-error');
            }else if (vm2[name] === "") {
                var help = $('#vm2').find('span.'+name+'-help')
                help.text('不可为空！');
                help.parent().addClass('has-error');
            }
        }
        $("button.task-confirm").click(function () {
            checkNotNull('name')
            checkNotNull('dsn')
            checkNotNull('user')
            checkNotNull('table')
            var srcdsn = vm1.dsn.trim()
            var srcuser = vm1.user.trim()
            var srctable = vm1.table.trim()
            var dstdsn = vm2.dsn.trim()
            var dstuser = vm2.user.trim()
            var dsttable = vm2.table.trim()
            var data = {
                srcdsn: srcdsn,
                srcuser: srcuser,
                srctable: srctable,
                dstdsn: dstdsn,
                dstuser: dstuser,
                dsttable: dsttable
            };
            $.ajax({
                url: "/api/tasks/dsn",
                type: "POST",
                data: data,
                success: function (msg) {
                    if (msg.result==='success') {
                        location.assign("/task/config");
                    }
                    else{
                        alert(msg.result);
                    }
                }
            });
        });
        $('input').on('focus', function() {
          $(this).parent().removeClass('has-error');
      });
    });
</script>
</html>
