<html>

<head>
    <script src="/static/js/jquery-1.9.1.min.js"></script>
    <script src="/static/js/vue.min.js"></script>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">

    <script type="text/javascript">
        $(function () {
            var datas;
            function load_data(callback) {
                // $.ajax({
                //     url: "/api/vm",
                //     type: "GET",
                //     // error: function(msg){},
                //     success: function (msg) {
                //         callback(msg);
                //     }
                // });
                $.getJSON('/api/vm', function (msg) {
                    var htmlContent = '';
                    for (var i in msg) {
                        htmlContent = htmlContent + '<option>' + i + "</option>";
                    }
                    $("datalist").html(htmlContent);
                    callback(msg);
                })
            }
            load_data(function (msg) {
                datas = msg;
            });
            // alert(datas)
            var vm = new Vue({
                el: '#vm',
                data: {
                    name: 'test',
                    id: '',
                    driver: 'pymysql',
                    dsn: 'root:root@local'
                },
                methods: {
                    submit: function () {
                        alert(this.driver)
                    }
                }
            });

            $('#vm').show();
            // $("input.con-name").change(function () {
            //     // vm.name = 'test123'
            //     vm.$data = datas[$(this).val()]
            // });
            function inputSelect() {
                vm.$data = datas[$("input.con-name").val()]
            }
            $("input.con-name").change(inputSelect);
        });


    </script>
</head>
<body>

  <div class='col-6'>
    <h1>Src Config</h1>
<!--             <select id='selectid' name="country">
            </select> -->
    <div id="vm" class="src form-group">
      <input v-model="id" type="hidden">
      <label>数据库名称</label>
      <input v-model="name" class="con-name form-control" type="text" list="itemlist" placeholder="Connection name">
      <datalist id="itemlist">
      </datalist>
      <label>数据库驱动名称</label>
      <input v-model="driver" class="driver-name form-control" name="srcdriver" type="text" placeholder="Driver name">
      <label>数据库配置</label>
      <input v-model="dsn" class="dsn-config form-control" name="srcdsn" type="text" placeholder="DSN config">
      <button v-on="click: submit" class="test-button form-control" type="button">test</button>
  </div>
</div>


</body>
